# 🌍 GENERAL
ASPNETCORE_ENVIRONMENT=Development

# 📡 API GATEWAY (Ocelot)
API_GATEWAY_HOST=http://localhost:5001

# 🗄️ DATABASE (SQL SERVER)
DB_HOST=mssql
DB_PORT=1433
DB_USER=sa
DB_PASSWORD=YourStrong!Passw0rd
DB_NAME=CinemaDB
DB_CONNECTION_STRING=Server=mssql,1433;Database=CinemaDB;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=true;

# 📩 MESSAGE BROKER (NATS)
NATS_URL=nats://nats:4222

# 🔐 AUTHENTICATION
JWT_SECRET_KEY=YourSuperSecretKey
JWT_ISSUER=https://yourdomain.com
JWT_AUDIENCE=https://yourclient.com

# 🎟️ SERVICES URL (Internal Communication)
STUDIO_SERVICE_URL=http://studio-service:5001
MOVIE_SERVICE_URL=http://movie-service:5002
SCHEDULE_SERVICE_URL=http://schedule-service:5003
TICKETING_SERVICE_URL=http://ticketing-service:5004
TRANSACTION_SERVICE_URL=http://transaction-service:5005
NOTIFICATION_SERVICE_URL=http://notification-service:5006

# 🚀 LOGGING & MONITORING
LOG_LEVEL=Information
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
